<mat-toolbar class="header mat-elevation-z4">
	<span>
		<a routerLink="/">
			<img class="logo" src="/assets/img/logo.png" alt="logo">
		</a>
	</span>

	<span class="title-group">
		<a *ngIf="this.page == 'home'">
			<i class="material-icons">
				home
			</i>
			Início
		</a>

		<a *ngIf="this.page == 'search'">
			<i class="material-icons">
				wb_sunny
			</i>
			Pesquisar
		</a>

		<a *ngIf="this.page == 'history'">
			<i class="material-icons">
				history
			</i>
			History
		</a>
	</span>

</mat-toolbar>