<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Home
            </a>

            <a mat-list-item routerLink="/search">
                <i class="material-icons">
                    cloud_circle
                </i>
                Search
            </a>

            <a mat-list-item routerLink="/history">
                <i class="material-icons">
                    history
                </i>
                Search
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>

<!--
    sol: wb_sunny
    nuvem1: cloud
    nuvem2: cloud_circle
-->
