<mat-card>
    <mat-card-title>Pesquise por qualquer cidade do mundo!</mat-card-title>

    <div *ngIf="api_error" id="api-error">
        <p *ngIf="timer > 0">Tempo para próxima pesquisa: {{ timer }} segundos.</p>
        <p *ngIf="timer == -1">Rodando a manivela da API...</p>
    </div>

    <form>
        <mat-form-field>
            <input matInput placeholder="Cidade" [(ngModel)]="searchField" name="city">
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="searchWeather()" color="accent">
    Pesquisar
</button>

<app-weather-panel *ngIf="show_panel" [weather]='weather'></app-weather-panel>