.mat-expansion-panel {
    width: 450px;
    margin-bottom: 5px;
}

img {
    height: 85px;
    display: flex;
    justify-content: flex-end;
}

#weather-data {
    display: flex;
    vertical-align: auto;
}

#data {
    width: 300px;
}